html{
    box-sizing: border-box;
    font-size: 62.5%;/*coneta estiqueta (1 rem es = a 10px)*/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: #edede9;
}

h1, h2, h3{
    margin: 0 ;
}
h1{
    font-size: 4rem;
}
@media (min-width:768px){ 
    h1{
        font-size: 5rem;
    }
 }
h2{
    font-size: 3.2rem;
}
@media (min-width:768px){ 
    h2{
        font-size: 4rem;
    }
 }

h3{
    font-size: 2.4rem;
}
@media (min-width:768px){ 
    h3{
        font-size: 3rem;
    }
 }

a {
    text-decoration: none;
    color: #000;
}
.contenedor{
    max-width: 100rem;
    margin: 0 auto 0 auto;
   }
img{
    max-width: 100%;
    display: block;
}

.btn{
    background-color: #073b4c;
    display: block;
    color: #ffff;
    text-transform: capitalize;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
    width: 100%;
}
@media (min-width:768px){ 
    .btn{
        width: auto;
    }
 }
.btn:hover{
    background-color: #225768;
    cursor: pointer;
}
/*UTILIDADES*/
.text-center{
text-align: center;
margin-bottom: 3rem;
}

@media (min-width:768px){ 
    .max-width-30{
    max-width: 30rem;
}
 }

.nombre-sitios{
    padding: 2.5rem;
    text-align: center;
   
}
.nombre-sitios span{
    color:#037bc0;
}
.contenedor-navegacion{
    border-top: 1px solid #d6ccc2;
   }
.nav-principal{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
@media (min-width:768px){ 
    .nav-principal{
        justify-content: space-evenly;
        flex-direction: row;
    
    }
 }
.hero{

    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
}
@media (min-width:768px){
    .hero {
          height: 55rem;
    }
    
 }


/*categoria*/
.categorias {
    padding: 5rem 0;
}

.categoria a{
    text-align:center;
    display: block;
    padding: 2rem;
    font-size: 2rem;

}
.categoria a:hover{
    background-color: #037bc0;
    color: #ffff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}
.categoria{
    margin-bottom: 2rem;
}
@media (min-width:768px){ 
    .categoria{
        margin-bottom: 0;
    }
 }
.categoria img{
    width: 100%;
}

@media (min-width:768px){
    .listado-categoria{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
 
}   
 }
/*bloque nosotros*/

.sobre-nosotros{
    background-image: linear-gradient(to bottom, transparent 50%,#037bc0 50%, 
    #037bc0 100%), url(../img/nosotros.jpg);
    background-position:  center, top left;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;

}
@media (min-width:768px){
 .sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%,#037bc0 50%, 
    #037bc0 100%), url(../img/nosotros.jpg);
    background-position: left center;
  
    background-size: 100%, 100rem;

}
 }
.sobre-nosotros-grid{
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   column-gap: 6rem;

}
@media (min-width:768px){ 
    .sobre-nosotros-grid{
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: unset;
         
    }

 }
.text-nosotros{
   grid-row: 2 / 3;
    color: #ffff;
    padding: 5rem;
}
@media (min-width:768px){  
    .text-nosotros{
        grid-column: 2 / 3;
         
         }
 }
/*contenido*/
.contenido-principal{
    padding-top: 5rem;
}

.producto{
    background-color: #037bc0;
    margin-bottom: 2rem;

}
@media (min-width:768px){ 
    .producto{
        margin-bottom: 0;
        
    }
 }
.producto:last-of-type{
    margin-bottom: 0;
}

.texto-producto{
    text-align: center;
    color: #ffff;
  padding: 2rem;
}
.texto-producto h3{
    margin: 0;
}
.texto-producto p{
    margin: 0 0 .5rem 0;
  
}

.texto-producto .precio{
    font-size: 2.8rem;
    font-weight: 900;
}

/* listado Productos*/
@media (min-width:768px){ 
            .listado-productos{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
        }
        .producto:nth-child(1){
            grid-column: 1/7;
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
        .producto:nth-child(1) img{
            height: 43rem;
            width: 100%;
            object-fit: cover;
        }


        .producto:nth-child(2){
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .producto:nth-child(2) img, 
        .producto:nth-child(3) img{
            height: 30rem;
            width: 100%;
            object-fit: cover;
        }
        .producto:nth-child(3){
            grid-column-start: 4;
            grid-column-end: 7;
        }

        .producto:nth-child(4){
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .producto:nth-child(5){
            grid-column-start: 3;
            grid-column-end: 5;
        }
        .producto:nth-child(6){
            grid-column-start: 5;
            grid-column-end: 7;
        }
 }

/* footer*/
.listado-footer{
   
    text-align: center;
}
@media (min-width:768px){ 
    .listado-footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        text-align: justify;
    }
 }
 .listado-footer >div {
    margin-bottom: 2rem;
 }
 @media (min-width:768px){ 
    .listado-footer >div{
        margin: 0;
    }
  }


.sisio-footer{
    margin: 3rem;
    padding: 3rem; 
}
.listado-footer p{
    padding: 2rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}
.sisio-footer p{
    text-align: center;
    margin-top: 5rem;
    text-transform: capitalize;
}
.navegacion{
    display: flex;
    flex-direction: column;
}.navegacion a{
    text-transform: capitalize;
  
}
/*pagino sobre nosotros*/


@media (min-width:768px){ 
    .nosotros{

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    }
    .nosotros img{
        
        height: 100%;
    }
 }
 .informacion-nosotros{
    padding: 5rem;
 }
@media (min-width:768px){ 
    .informacion-nosotros{
    display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 0;
}
 }

/*blog*/

@media (min-width:768px){ 
    
.contenedor-blog{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem; 
}
 }
.entrada {
   border-bottom: 2px solid #d6ccc2;
    margin-bottom: 4rem;
    text-align: center;
}
.contenido-blog{
    padding: 2rem 2rem 4rem 2rem;
}
@media (min-width:768px){ 
    .entrada{
    text-align: unset;
    }
 }
 .entrada p{
    text-align: justify;
 }
.entrada:last-of-type{
    border:none;
}

.entrada-meta p{
    font-weight: 900;
    margin:  0;
}
.entrada-meta span{
    
    color: #037bc0;
   
}
.entrada-meta{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    justify-content: space-around;
    
}
@media (min-width:768px){ 
    .entrada-meta{
            flex-direction: row;
           justify-content: space-between;
          
    }
 }



@media (min-width:768px){ 
     .contenedor-entrada-blog{ 
    width: 60rem;
    margin: 0 auto;
}
 }

/*Galeria*/

.galeria{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    
}
@media (min-width:768px){ 
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
 }
.galeria img{
    height: 40rem;
    width: 40rem;
    object-fit: cover;

}
/*formulario*/
.formulario{
   max-width: 60rem;
   margin: 0 auto;
}

.formulario fieldset{
    border: 1px solid black;
    margin-bottom: 2rem;
    

}
.formulario legend{
    background-color: #005485;
    border: 1px solid black;
    width: 100%;
    color: #ffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 4rem;
    text-align: center;

}
.campo{
    display: flex;
    margin-bottom: 2rem;
  
}
.campo label{
flex-basis: 10rem;
}
.campo input:not([type="radio"]), textarea,select{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}